<div class="row" *ngIf="isLoading">
    Loading ....
</div>

<div class="row" *ngIf="!isLoading && !errorMsg">
    <div class="col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor : pointer"
            *ngFor="let ingredient of ingredients; let i = index"
             (click)="onStartEdit(i,ingredient)"
             >
             {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>

<div  class="alert alert-danger" role="alert"  *ngIf="errorMsg">
    {{errorMsg}}
</div>
