
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onCreateNewRecipe()">add new recipe</button>
    </div>
</div>
<hr>
<div class="row" *ngIf="isLoading">
    <div class="col-xs-12">loading...</div>
</div>
<div class="row" *ngIf="!isLoading && !errorMsg">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe] = "recipe" [index] ="i"></app-recipe-item>
    </div>
</div>

<div  class="alert alert-danger" role="alert"  *ngIf="errorMsg">
    {{errorMsg}}
</div>

